{{#if admin}}
    <tr>
        <td><button class="btn btn-primary" type="submit">Добавить</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{{/if}}
{{#if judge}}
    <tr>
        <td><button class="btn btn-primary" type="submit">Добавить</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{{/if}}