{{#if admin}}
    <td>
        <button class="btn btn-primary" type="submit">Изменить</button>
        <button class="btn btn-danger" type="submit">Удалить</button>
    </td>
{{/if}}
{{#if judge}}
    <td>
        <button class="btn btn-primary" type="submit">Изменить</button>
        <button class="btn btn-danger" type="submit">Удалить</button>
    </td>
{{/if}}