<nav class="navbar navbar-default">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">REFEREEING OF TRACK AND FIELD</a>
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse-4">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Главная<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Стартовые протоколы</a></li>
                    <li><a href="#">Итоговые протоколы</a></li>
                    <li><a href="#">Положения соревнований</a></li>
                </ul>
            </li>

            <li><a href="#">Контакты</a></li>
            <li>
            <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4">Профиль<i class=""></i> </a>
            </li>
        </ul>
        <ul class="collapse nav navbar-right nav-collapse" role="search" id="nav-collapse4">            
            <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="http://bootstraptema.ru/snippets/icons/2016/mia/1.png" alt="USER" width="20" />{{username}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile">Мой профиль</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>
