{{#if admin}}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/competitions">Соревнования</a>
            </li>
            <li class="sidebar-brand">
                <a href="/athlete_cards">Карточки спортсменов</a>
            </li>
            <li class="sidebar-brand">
                <a href="/organizations">Организации</a>
            </li  class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/athletes">Спортсмены</a>
            </li  class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/coaches">Тренеры</a>
            </li  class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/genders">Пол</a>
            </li class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/gender_types">Категории пола</a>
            </li class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/ranks">Разряды</a>
            </li class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/records">Рекорды</a>
            </li class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/athletics_types">Виды легкой атлетики</a>
            </li class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/appearences">Выступление</a>
            </li class="sidebar-brand">
            <li class="sidebar-brand">
                <a href="/users">Пользователи</a>
            </li>
        </ul>
    </div>
{{/if}}

{{#if judge}}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">Соревнования</a>
            </li>
            <li>
                <a href="/competitiontype">Виды на соревнованиях</a>
            </li>
            <li>
                <a href="/athletecard">Карточки спортсменов</a>
            </li>
            <li>
                <a href="/organization">Организации</a>
            </li>
            <li>
                <a href="/athlete">Спортсмены</a>
            </li>
        </ul>
    </div>
{{/if}}

{{#if agent}}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="/athlete">Добавить спортсмена</a>
            </li>
            <li>
                <a href="/athletecard">Заполнить карточку соревнований</a>
            </li> 
        </ul>
    </div>
{{/if}}